@import url('https://fonts.googleapis.com/css?family=Barlow:400,700');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');
.iframe {
  --color-subject-text: #c2292e;
  font-family: 'Barlow', sans-serif;
  color: white;
  background: black;
  overflow-y: scroll;
}

.iframe img {
  width: 80%;
}

.iframe .intro {
  line-height: 1.5;
  font-size: 0.9em;
  margin-left: 1vw;
  margin-top: 1vw;
}

.iframe .intro .title {
  font-weight: bold;
  font-size: 1.8em;
}

.iframe .intro .name, .iframe .intro .media {
  padding: 6px 0;
}

.iframe a {
  color: white;
  text-decoration: underline;
}

.iframe .link {
    margin: 40px 0 0 26px;
}

.iframe .link a {
    cursor: pointer;
    color: var(--color-subject-text);
    animation-name: text-fade-in;
    animation-duration: 10s;
}

@keyframes text-fade-in {
  from {opacity: 0;}
  to {opacity: 100%;}
}

.col {
  background: black;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  margin-top: 20px;
}

.col.left {
  left: 0;
  overflow-y: scroll;
  width: 40%;
}

.col.left .info {
  line-height: 1.5;
	width: 100%;
	font-family: var(--font-text);
}

.col.right {
  right: 0;
  width: 60%;
  padding-left: 12px;
  border-left: 1px solid grey;
}
.iframe.typewriter {
  background: black; /* var(--color-subject-text); */
  color: white;
}
.typewriter {
    margin-top: 2vw;
    margin-left: 2vw;
    margin-right: 2vw;
}
.typewriter h1 {
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /* border-right: .15em solid var(--color-subject-text); The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--color-subject-text); }
}
